@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html,
body {
  height: 100%;
  overflow-y: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  user-select: none;
  background-color: #ffffff;
  color: inherit;
  margin: 0;
  padding: 0;
}
